{% extends 'apps/master.html' %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center text-success">Set Your New Password</h2>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
</div>
<script>
    setInterval(function () {
        fetch('/check_password_reset_status/')
            .then(response => response.json())
            .then(data => {
                if (data.is_approved) {
                    window.location.href = `/set_new_password/${data.username}/`;
                }
            });
    }, 5000);
</script>

{% endblock %}
